.elementor-1311 .elementor-element.elementor-element-63920f84{--display:flex;--background-transition:0.3s;}.elementor-1311 .elementor-element.elementor-element-c3334ff .elementor-nav-menu .elementor-item{font-family:"Arial", Sans-serif;font-weight:200;}.elementor-1311 .elementor-element.elementor-element-c3334ff .elementor-nav-menu--main .elementor-item{color:#FFFFFF;fill:#FFFFFF;padding-left:50px;padding-right:50px;}.elementor-1311 .elementor-element.elementor-element-c3334ff .elementor-nav-menu--main .elementor-item:hover,
					.elementor-1311 .elementor-element.elementor-element-c3334ff .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-1311 .elementor-element.elementor-element-c3334ff .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-1311 .elementor-element.elementor-element-c3334ff .elementor-nav-menu--main .elementor-item:focus{color:#F8BBD1;fill:#F8BBD1;}.elementor-1311 .elementor-element.elementor-element-c3334ff .e--pointer-framed .elementor-item:before{border-width:0px;}.elementor-1311 .elementor-element.elementor-element-c3334ff .e--pointer-framed.e--animation-draw .elementor-item:before{border-width:0 0 0px 0px;}.elementor-1311 .elementor-element.elementor-element-c3334ff .e--pointer-framed.e--animation-draw .elementor-item:after{border-width:0px 0px 0 0;}.elementor-1311 .elementor-element.elementor-element-c3334ff .e--pointer-framed.e--animation-corners .elementor-item:before{border-width:0px 0 0 0px;}.elementor-1311 .elementor-element.elementor-element-c3334ff .e--pointer-framed.e--animation-corners .elementor-item:after{border-width:0 0px 0px 0;}.elementor-1311 .elementor-element.elementor-element-c3334ff .e--pointer-underline .elementor-item:after,
					 .elementor-1311 .elementor-element.elementor-element-c3334ff .e--pointer-overline .elementor-item:before,
					 .elementor-1311 .elementor-element.elementor-element-c3334ff .e--pointer-double-line .elementor-item:before,
					 .elementor-1311 .elementor-element.elementor-element-c3334ff .e--pointer-double-line .elementor-item:after{height:0px;}.elementor-1311 .elementor-element.elementor-element-c3334ff .elementor-nav-menu--dropdown a:hover,
					.elementor-1311 .elementor-element.elementor-element-c3334ff .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-1311 .elementor-element.elementor-element-c3334ff .elementor-nav-menu--dropdown a.highlighted{background-color:#000000;}.elementor-1311 .elementor-element.elementor-element-c3334ff .elementor-nav-menu--dropdown{border-style:solid;border-width:1px 1px 1px 1px;border-color:#FFFFFF;border-radius:5px 5px 5px 5px;}.elementor-1311 .elementor-element.elementor-element-c3334ff .elementor-nav-menu--dropdown li:first-child a{border-top-left-radius:5px;border-top-right-radius:5px;}.elementor-1311 .elementor-element.elementor-element-c3334ff .elementor-nav-menu--dropdown li:last-child a{border-bottom-right-radius:5px;border-bottom-left-radius:5px;}.elementor-1311 .elementor-element.elementor-element-c3334ff .elementor-nav-menu--main .elementor-nav-menu--dropdown, .elementor-1311 .elementor-element.elementor-element-c3334ff .elementor-nav-menu__container.elementor-nav-menu--dropdown{box-shadow:0px 0px 3px 0px rgba(0,0,0,0.5);}.elementor-1311 .elementor-element.elementor-element-c3334ff .elementor-nav-menu--dropdown li:not(:last-child){border-style:solid;border-color:#E9E9E9;border-bottom-width:1px;}.elementor-1311 .elementor-element.elementor-element-e488373{--spacer-size:150px;}.elementor-1311 .elementor-element.elementor-element-5eeb8ad{--display:flex;--min-height:0px;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:0px 0px;--background-transition:0.3s;}.elementor-1311 .elementor-element.elementor-element-56ce10a{--display:flex;--justify-content:flex-end;--background-transition:0.3s;--border-radius:20px 20px 20px 20px;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.35);--margin-top:20px;--margin-bottom:20px;--margin-left:20px;--margin-right:20px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1311 .elementor-element.elementor-element-56ce10a:not(.elementor-motion-effects-element-type-background), .elementor-1311 .elementor-element.elementor-element-56ce10a > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://www.dorawolf.com/wp-content/uploads/2024/07/sulogo1.png");background-position:center center;background-size:cover;}.elementor-1311 .elementor-element.elementor-element-56ce10a:hover::before{filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}.elementor-1311 .elementor-element.elementor-element-56ce10a, .elementor-1311 .elementor-element.elementor-element-56ce10a::before{--overlay-transition:1s;--border-transition:0.3s;}.elementor-1311 .elementor-element.elementor-element-5f53257{--display:flex;--min-height:350px;--justify-content:space-between;--background-transition:0.3s;--padding-top:20px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;}.elementor-1311 .elementor-element.elementor-element-ed1f2bc{text-align:center;}.elementor-1311 .elementor-element.elementor-element-ed1f2bc .elementor-heading-title{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:24px;font-weight:600;}.elementor-1311 .elementor-element.elementor-element-bd12d3e{text-align:center;}.elementor-1311 .elementor-element.elementor-element-bd12d3e .elementor-heading-title{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:18px;font-weight:normal;line-height:24px;}.elementor-1311 .elementor-element.elementor-element-f3093c9{--display:flex;--justify-content:flex-end;--background-transition:0.3s;--border-radius:20px 20px 20px 20px;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.35);--margin-top:10px;--margin-bottom:10px;--margin-left:10px;--margin-right:10px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1311 .elementor-element.elementor-element-f3093c9:not(.elementor-motion-effects-element-type-background), .elementor-1311 .elementor-element.elementor-element-f3093c9 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://www.dorawolf.com/wp-content/uploads/2024/07/rhinologo.png");background-position:center center;background-size:cover;}.elementor-1311 .elementor-element.elementor-element-f3093c9:hover::before{filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}.elementor-1311 .elementor-element.elementor-element-f3093c9, .elementor-1311 .elementor-element.elementor-element-f3093c9::before{--overlay-transition:1s;--border-transition:0.3s;}.elementor-1311 .elementor-element.elementor-element-8001c20{--display:flex;--min-height:350px;--justify-content:space-between;--background-transition:0.3s;--padding-top:20px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;}.elementor-1311 .elementor-element.elementor-element-6627931{text-align:center;}.elementor-1311 .elementor-element.elementor-element-6627931 .elementor-heading-title{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:24px;font-weight:600;}.elementor-1311 .elementor-element.elementor-element-96ff7ae{text-align:center;}.elementor-1311 .elementor-element.elementor-element-96ff7ae .elementor-heading-title{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:18px;font-weight:normal;line-height:24px;}.elementor-1311 .elementor-element.elementor-element-5377441{--display:flex;--justify-content:flex-end;--background-transition:0.3s;--border-radius:20px 20px 20px 20px;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.35);--margin-top:20px;--margin-bottom:20px;--margin-left:20px;--margin-right:20px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1311 .elementor-element.elementor-element-5377441:not(.elementor-motion-effects-element-type-background), .elementor-1311 .elementor-element.elementor-element-5377441 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://www.dorawolf.com/wp-content/uploads/2024/07/mclogo2.png");background-position:center center;background-size:cover;}.elementor-1311 .elementor-element.elementor-element-5377441:hover::before{filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}.elementor-1311 .elementor-element.elementor-element-5377441, .elementor-1311 .elementor-element.elementor-element-5377441::before{--overlay-transition:1s;--border-transition:0.3s;}.elementor-1311 .elementor-element.elementor-element-51978ac{--display:flex;--min-height:350px;--justify-content:space-between;--background-transition:0.3s;--padding-top:20px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;}.elementor-1311 .elementor-element.elementor-element-829e664{text-align:center;}.elementor-1311 .elementor-element.elementor-element-829e664 .elementor-heading-title{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:24px;font-weight:600;}.elementor-1311 .elementor-element.elementor-element-a791f6e{text-align:center;}.elementor-1311 .elementor-element.elementor-element-a791f6e .elementor-heading-title{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:18px;font-weight:normal;line-height:24px;}.elementor-1311 .elementor-element.elementor-element-822c7d1{--display:flex;--justify-content:flex-end;--background-transition:0.3s;--border-radius:20px 20px 20px 20px;box-shadow:0px 0px 4px 0px rgba(0, 0, 0, 0.35);--margin-top:10px;--margin-bottom:10px;--margin-left:10px;--margin-right:10px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1311 .elementor-element.elementor-element-822c7d1:not(.elementor-motion-effects-element-type-background), .elementor-1311 .elementor-element.elementor-element-822c7d1 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://www.dorawolf.com/wp-content/uploads/2024/07/sdlogo.png");background-position:center center;background-size:cover;}.elementor-1311 .elementor-element.elementor-element-822c7d1:hover::before{filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}.elementor-1311 .elementor-element.elementor-element-822c7d1, .elementor-1311 .elementor-element.elementor-element-822c7d1::before{--overlay-transition:1s;--border-transition:0.3s;}.elementor-1311 .elementor-element.elementor-element-ea77add{--display:flex;--min-height:350px;--justify-content:space-between;--background-transition:0.3s;--padding-top:20px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;}.elementor-1311 .elementor-element.elementor-element-f819ed7{text-align:center;}.elementor-1311 .elementor-element.elementor-element-f819ed7 .elementor-heading-title{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:24px;font-weight:600;}.elementor-1311 .elementor-element.elementor-element-ea9f85f{text-align:center;}.elementor-1311 .elementor-element.elementor-element-ea9f85f .elementor-heading-title{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:18px;font-weight:normal;line-height:24px;}.elementor-1311 .elementor-element.elementor-element-a09ebc8{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-1311 .elementor-element.elementor-element-12fb8d1{--spacer-size:100px;}.elementor-1311 .elementor-element.elementor-element-b3b1936{--display:flex;--min-height:342px;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1311 .elementor-element.elementor-element-b3b1936:not(.elementor-motion-effects-element-type-background), .elementor-1311 .elementor-element.elementor-element-b3b1936 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://www.dorawolf.com/wp-content/uploads/2024/07/底部背景2.png");background-size:cover;}.elementor-1311 .elementor-element.elementor-element-b3b1936, .elementor-1311 .elementor-element.elementor-element-b3b1936::before{--border-transition:0.3s;}.elementor-1311 .elementor-element.elementor-element-20efd89 img{width:50px;max-width:100%;height:50px;}.elementor-1311 .elementor-element.elementor-element-7889449{width:var( --container-widget-width, 0% );max-width:0%;--container-widget-width:0%;--container-widget-flex-grow:0;top:-116px;}.elementor-1311 .elementor-element.elementor-element-7889449.elementor-element{--flex-grow:0;--flex-shrink:0;}body:not(.rtl) .elementor-1311 .elementor-element.elementor-element-7889449{left:68px;}body.rtl .elementor-1311 .elementor-element.elementor-element-7889449{right:68px;}.elementor-1311 .elementor-element.elementor-element-6c0a14b img{width:40px;max-width:100%;height:40px;}.elementor-1311 .elementor-element.elementor-element-6ca41c2 img{width:50px;max-width:100%;height:50px;}.elementor-1311 .elementor-element.elementor-element-5684dca img{width:40px;max-width:100%;height:40px;}.elementor-1311 .elementor-element.elementor-element-fffb942 img{width:50px;max-width:100%;height:50px;}.elementor-1311 .elementor-element.elementor-element-745113a img{width:30px;max-width:100%;height:30px;}.elementor-1311 .elementor-element.elementor-element-05d4591 img{width:50px;max-width:100%;height:50px;}body.elementor-page-1311:not(.elementor-motion-effects-element-type-background), body.elementor-page-1311 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://www.dorawolf.com/wp-content/uploads/2024/07/天空背景4-scaled.jpg");background-color:#000000;}:root{--page-title-display:none;}@media(min-width:768px){.elementor-1311 .elementor-element.elementor-element-56ce10a{--width:30%;}.elementor-1311 .elementor-element.elementor-element-f3093c9{--width:30%;}.elementor-1311 .elementor-element.elementor-element-5377441{--width:30%;}.elementor-1311 .elementor-element.elementor-element-822c7d1{--width:30%;}}@media(max-width:1024px){.elementor-1311 .elementor-element.elementor-element-c3334ff .elementor-nav-menu--main .elementor-item{padding-left:50px;padding-right:50px;}.elementor-1311 .elementor-element.elementor-element-bd12d3e .elementor-heading-title{font-size:18px;}.elementor-1311 .elementor-element.elementor-element-96ff7ae .elementor-heading-title{font-size:18px;}.elementor-1311 .elementor-element.elementor-element-a791f6e .elementor-heading-title{font-size:18px;}.elementor-1311 .elementor-element.elementor-element-ea9f85f .elementor-heading-title{font-size:18px;}}@media(max-width:767px){.elementor-1311 .elementor-element.elementor-element-c3334ff .elementor-nav-menu .elementor-item{font-size:12px;}.elementor-1311 .elementor-element.elementor-element-c3334ff .elementor-nav-menu--main .elementor-item{padding-left:12px;padding-right:12px;}.elementor-1311 .elementor-element.elementor-element-e488373{--spacer-size:0px;}.elementor-1311 .elementor-element.elementor-element-bd12d3e .elementor-heading-title{font-size:14px;}.elementor-1311 .elementor-element.elementor-element-96ff7ae .elementor-heading-title{font-size:14px;}.elementor-1311 .elementor-element.elementor-element-a791f6e .elementor-heading-title{font-size:14px;}.elementor-1311 .elementor-element.elementor-element-ea9f85f .elementor-heading-title{font-size:14px;}.elementor-1311 .elementor-element.elementor-element-7889449{width:var( --container-widget-width, 10px );max-width:10px;--container-widget-width:10px;--container-widget-flex-grow:0;}}/* Start custom CSS for container, class: .elementor-element-5f53257 */@media (min-width: 1024px) {.elementor-1311 .elementor-element.elementor-element-5f53257 {
    position: relative;
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
    opacity: 0;
    display: none;
}
}

.elementor-1311 .elementor-element.elementor-element-5f53257:hover {
    opacity: 1;

}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-56ce10a */.elementor-1311 .elementor-element.elementor-element-56ce10a {
    position: relative;
    transition: 0.5s ease-in-out;
    opacity: 1;
    background: #000;
    height: 350px;
}

@media (min-width: 1024px) {
    .elementor-1311 .elementor-element.elementor-element-56ce10a:hover {
    opacity: 1;
    width: 50%;
    .xswz1{
        display: flex;
    }
}
}


.elementor-1311 .elementor-element.elementor-element-56ce10a::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: 20px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.elementor-1311 .elementor-element.elementor-element-56ce10a::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.elementor-1311 .elementor-element.elementor-element-56ce10a:hover::after {
  filter: blur(60px);
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-8001c20 */@media (min-width: 1024px) {.elementor-1311 .elementor-element.elementor-element-8001c20 {
    position: relative;
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
    opacity: 0;
    display: none;
}
}

.elementor-1311 .elementor-element.elementor-element-8001c20:hover {
    opacity: 1;

}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-f3093c9 */.elementor-1311 .elementor-element.elementor-element-f3093c9 {
    position: relative;
    transition: 0.5s ease-in-out;
    opacity: 1;
    background: #000;
    height: 350px;
}

@media (min-width: 1024px) {
    .elementor-1311 .elementor-element.elementor-element-f3093c9:hover {
    opacity: 1;
    width: 50%;
    .xswz1{
        display: flex;
    }
}
}

.elementor-1311 .elementor-element.elementor-element-f3093c9::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: 20px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.elementor-1311 .elementor-element.elementor-element-f3093c9::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.elementor-1311 .elementor-element.elementor-element-f3093c9:hover::after {
  filter: blur(60px);
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-51978ac */@media (min-width: 1024px) {.elementor-1311 .elementor-element.elementor-element-51978ac {
    position: relative;
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
    opacity: 0;
    display: none;
}
}

.elementor-1311 .elementor-element.elementor-element-51978ac:hover {
    opacity: 1;

}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-5377441 */.elementor-1311 .elementor-element.elementor-element-5377441 {
    position: relative;
    transition: 0.5s ease-in-out;
    opacity: 1;
    background: #000;
    height: 350px;
}

@media (min-width: 1024px) {
    .elementor-1311 .elementor-element.elementor-element-5377441:hover {
    opacity: 1;
    width: 50%;
    .xswz1{
        display: flex;
    }
}
}

.elementor-1311 .elementor-element.elementor-element-5377441::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: 20px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.elementor-1311 .elementor-element.elementor-element-5377441::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.elementor-1311 .elementor-element.elementor-element-5377441:hover::after {
  filter: blur(60px);
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-ea77add */@media (min-width: 1024px) {.elementor-1311 .elementor-element.elementor-element-ea77add {
    position: relative;
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
    opacity: 0;
    display: none;
}
}

.elementor-1311 .elementor-element.elementor-element-ea77add:hover {
    opacity: 1;

}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-822c7d1 */.elementor-1311 .elementor-element.elementor-element-822c7d1 {
    position: relative;
    transition: 0.5s ease-in-out;
    opacity: 1;
    background: #000;
    height: 350px;
}

@media (min-width: 1024px) {
    .elementor-1311 .elementor-element.elementor-element-822c7d1:hover {
    opacity: 1;
    width: 50%;
    .xswz1{
        display: flex;
    }
}
}

.elementor-1311 .elementor-element.elementor-element-822c7d1::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: 20px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.elementor-1311 .elementor-element.elementor-element-822c7d1::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.elementor-1311 .elementor-element.elementor-element-822c7d1:hover::after {
  filter: blur(60px);
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-20efd89 */.elementor-1311 .elementor-element.elementor-element-20efd89 {
    position: relative;
    transition: 0.5s ease-in-out;
    opacity: 1;
     z-index: 0;
     width: 50px;
     height: 50px;
     left: 0px;
     bottom: 120px;
}

.elementor-1311 .elementor-element.elementor-element-20efd89:hover {
    opacity: 1;
}

.elementor-1311 .elementor-element.elementor-element-20efd89::before {
  content: '';
  position: absolute;
  inset: 0;
  left: 0px;
  margin: auto;
  width: calc(100% + 0px ) ;
  height: calc(100% + 0px ) ;
background: linear-gradient(-45deg, #ADD8E6 0%, #FFB6C1 100%);


  background: #000000;
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.elementor-1311 .elementor-element.elementor-element-20efd89::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
background: linear-gradient(-45deg, #ADD8E6 0%, #FFB6C1 100%);

  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(18px);
}

.elementor-1311 .elementor-element.elementor-element-20efd89:hover::after {
  filter: blur(25px);
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-6c0a14b */.elementor-1311 .elementor-element.elementor-element-6c0a14b {
    position: relative;
    transition: 0.5s ease-in-out;
    opacity: 1;
     z-index: 0;
     width: 50px;
     height: 50px;
     left: 5%;
     bottom: -50px;
}

.elementor-1311 .elementor-element.elementor-element-6c0a14b:hover {
    opacity: 1;
}

.elementor-1311 .elementor-element.elementor-element-6c0a14b::before {
  content: '';
  position: absolute;
  inset: 0;
  left: 0px;
  margin: auto;
  width: calc(100% + 0px ) ;
  height: calc(100% + 0px ) ;
  background: linear-gradient(-45deg, #ffffb3 0%, #b3ffb3 100%);
  background: #000000;
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.elementor-1311 .elementor-element.elementor-element-6c0a14b::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #ffffb3 0%, #b3ffb3 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(18px);
}

.elementor-1311 .elementor-element.elementor-element-6c0a14b::after {
  filter: blur(40px);
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-6ca41c2 */.elementor-1311 .elementor-element.elementor-element-6ca41c2 {
    position: relative;
    transition: 0.5s ease-in-out;
    opacity: 1;
     z-index: 0;
     width: 50px;
     height: 50px;
     left: 20%;
     bottom: 82px;
}

.elementor-1311 .elementor-element.elementor-element-6ca41c2:hover {
    opacity: 1;
}

.elementor-1311 .elementor-element.elementor-element-6ca41c2::before {
  content: '';
  position: absolute;
  inset: 0;
  left: 0px;
  margin: auto;
  width: calc(100% + 0px ) ;
  height: calc(100% + 0px ) ;
  background: linear-gradient(-45deg, #ffffb3 0%, #b3ffb3 100%);
  background: #000000;
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.elementor-1311 .elementor-element.elementor-element-6ca41c2::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #ffffb3 0%, #b3ffb3 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(18px);
}

.elementor-1311 .elementor-element.elementor-element-6ca41c2::after {
  filter: blur(50px);
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-5684dca */.elementor-1311 .elementor-element.elementor-element-5684dca {
    position: relative;
    transition: 0.5s ease-in-out;
    opacity: 1;
     z-index: 0;
     width: 40px;
     height: 40px;
     left: 40%;
     bottom: 60px;
}

.elementor-1311 .elementor-element.elementor-element-5684dca:hover {
    opacity: 1;
}

.elementor-1311 .elementor-element.elementor-element-5684dca::before {
  content: '';
  position: absolute;
  inset: 0;
  left: 0px;
  margin: auto;
  width: calc(100% + 0px ) ;
  height: calc(100% + 0px ) ;
  background: linear-gradient(-45deg, #ffffb3 0%, #b3ffb3 100%);
  background: #000000;
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.elementor-1311 .elementor-element.elementor-element-5684dca::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #ffffb3 0%, #b3ffb3 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(18px);
}

.elementor-1311 .elementor-element.elementor-element-5684dca::after {
  filter: blur(30px);
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-fffb942 */.elementor-1311 .elementor-element.elementor-element-fffb942 {
    position: relative;
    transition: 0.5s ease-in-out;
    opacity: 1;
     z-index: 0;
     width: 50px;
     height: 50px;
     left: 70%;
     bottom: 200px;
}

.elementor-1311 .elementor-element.elementor-element-fffb942:hover {
    opacity: 1;
}

.elementor-1311 .elementor-element.elementor-element-fffb942::before {
  content: '';
  position: absolute;
  inset: 0;
  left: 0px;
  margin: auto;
  width: calc(100% + 0px ) ;
  height: calc(100% + 0px ) ;
  background: linear-gradient(-45deg, #ffffb3 0%, #b3ffb3 100%);
  background: #000000;
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.elementor-1311 .elementor-element.elementor-element-fffb942::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #ffffb3 0%, #b3ffb3 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(18px);
}

.elementor-1311 .elementor-element.elementor-element-fffb942::after {
  filter: blur(50px);
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-745113a */.elementor-1311 .elementor-element.elementor-element-745113a {
    position: relative;
    transition: 0.5s ease-in-out;
    opacity: 1;
     z-index: 0;
     width: 30px;
     height: 30px;
     left: 90%;
     bottom: 360px;
}

.elementor-1311 .elementor-element.elementor-element-745113a:hover {
    opacity: 1;
}

.elementor-1311 .elementor-element.elementor-element-745113a::before {
  content: '';
  position: absolute;
  inset: 0;
  left: 0px;
  margin: auto;
  width: calc(100% + 0px ) ;
  height: calc(100% + 0px ) ;
  background: linear-gradient(-45deg, #ffffb3 0%, #b3ffb3 100%);
  background: #000000;
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.elementor-1311 .elementor-element.elementor-element-745113a::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #ffffb3 0%, #b3ffb3 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(18px);
}

.elementor-1311 .elementor-element.elementor-element-745113a::after {
  filter: blur(20px);
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-05d4591 */.elementor-1311 .elementor-element.elementor-element-05d4591 {
    position: relative;
    transition: 0.5s ease-in-out;
    opacity: 1;
     z-index: 0;
     width: 50px;
     height: 50px;
     left: 85%;
     bottom: 280px;
}

.elementor-1311 .elementor-element.elementor-element-05d4591:hover {
    opacity: 1;
}

.elementor-1311 .elementor-element.elementor-element-05d4591::before {
  content: '';
  position: absolute;
  inset: 0;
  left: 0px;
  margin: auto;
  width: calc(100% + 0px ) ;
  height: calc(100% + 0px ) ;
  background: linear-gradient(-45deg, #ffffb3 0%, #b3ffb3 100%);
  background: #000000;
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.elementor-1311 .elementor-element.elementor-element-05d4591::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #ffffb3 0%, #b3ffb3 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(18px);
}

.elementor-1311 .elementor-element.elementor-element-05d4591::after {
  filter: blur(30px);
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-4ef8409e */#beianhao-container {
    text-align: center;
    padding: 10px 0;
    color: #fff;
    font-size: 14px; /* 字体大小，根据需要调整 */
}

#beianhao-container a {
    color: #fff00; /* 链接颜色，可以根据需要调整 */
    text-decoration: none; /* 去掉下划线 */
}

#beianhao-container a:hover {
    text-decoration: underline; /* 鼠标悬停时显示下划线 */
}/* End custom CSS */